<div class="spinner-body d-flex justify-content-center" *ngIf="isLoading">
    <div class="spinner-border" role="status">
        <span class="sr-only">Loading...</span>
    </div>
</div>
<div [@routerTransition]>
    <div [hidden]="hidden">
        <h4 class="text-center mb-3">{{ "Forgot Password" | localize }}</h4>
        <form autocomplete="off">
            <div class="form-group">
                <div class="input-group">
                    <input type="email"
                           class="form-control"
                           name="emailAddress"
                           placeholder="{{ 'EmailAddress' | localize }}"
                           required
                           [(ngModel)]="resetEmail"
                           maxlength="256"
                           pattern="^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{1,})+$" />
                    <div class="input-group-append">
                        <div class="input-group-text">
                            <span class="fas fa-envelope"></span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-8">
                    <button type="button"
                            class="btn btn-default"
                            [routerLink]="['../login']">
                        <i class="fa fa-arrow-circle-left"></i> {{ "Back" | localize }}
                    </button>
                </div>
                <div class="col-4">
                    <button type="submit"
                            class="btn btn-primary btn-block" (click)="SendResetLink()" [disabled]="resetEmail===null || resetEmail===''">
                        {{ "Submit" | localize }}

                    </button>
                </div>
            </div>
        </form>
    </div>
    <div class="text-success text-center medium forgot-msg" [hidden]="!hidden">
        {{submitMessage1}}<br>{{ submitMessage2}}<br>{{submitMessage3}}
    </div>
</div>


